<template lang="html">
  <v-dialog v-model="active" persistent width="70%" scrollable>
    <v-card>
      <v-card-title class="headline">
        {{ TRANSLATE['ORDER_DETAIL.TITLE'] }} &nbsp; <strong>{{ inputs.code }}</strong>
      </v-card-title>

      <v-card-text style="height: 70vh">
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs8>
              <div class="subheading">
                {{ TRANSLATE['ORDER_DETAIL.AMOUNT'] }}: <strong class="red--text">{{ inputs.amount | moneyFormat }}</strong>
              </div>
              <table class="table text-xs-left">
                <thead>
                  <tr>
                    <th>{{ TRANSLATE['ORDER_DETAIL.PRODUCT'] }}</th>
                    <th></th>
                    <th  class="text-xs-center">{{ TRANSLATE['ORDER_DETAIL.QUANTITY'] }}</th>
                    <th>{{ TRANSLATE['ORDER_DETAIL.PRICE'] }}</th>
                    <th>{{ TRANSLATE['ORDER_DETAIL.SUBTOTAL'] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(detail, i) in inputs.details">
                    <td><img style="width: 100px" class="pa-2" :src="asset(detail.product.introImageSrc)" /></td>
                    <td>{{ detail.product.name }}</td>
                    <td class="text-xs-center">{{ detail.quantity }}</td>
                    <td>{{ detail.price | moneyFormat }}</td>
                    <td><strong>{{ detail.quantity * detail.price | moneyFormat }}</strong></td>
                  </tr>
                </tbody>
              </table>
            </v-flex>

            <v-flex xs4 class="pl-4">
              <v-select
                :label="TRANSLATE['ORDER_DETAIL.STATE']"
                :items="staticData.stateOptions"
                v-model="inputs.state"
              >
              </v-select>

              <v-select
                :label="TRANSLATE['ORDER_DETAIL.PAYMENT_STATUS']"
                :items="staticData.paymentStatusOptions"
                v-model="inputs.payment_status"
              >
              </v-select>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.CREATE_DATE']"
                v-model="inputs.created_at"
                disabled
              >
              </v-text-field>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.NAME']"
                v-model="inputs.name"
                disabled
              >
              </v-text-field>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.PHONE']"
                v-model="inputs.phone"
                disabled
              >
              </v-text-field>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.EMAIL']"
                v-model="inputs.email"
                disabled
              >
              </v-text-field>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.SHIPPING_ADDRESS']"
                v-model="inputs.shipping_address"
                disabled
              >
              </v-text-field>

              <v-text-field
                :label="TRANSLATE['ORDER_DETAIL.NOTE']"
                v-model="inputs.note"
                disabled
              >
              </v-text-field>
            </v-flex>
          </v-layout>
        </v-container>


      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="success" flat @click="save">{{ TRANSLATE['SAVE'] }}</v-btn>
        <v-btn flat @click="active = false">{{ TRANSLATE['CLOSE'] }}</v-btn>
      </v-card-actions>
      <cc-cardloading :loading="loading"></cc-cardloading>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'EditDialog',

  model: {
    prop: 'toggle',
    event: 'change'
  },

  props: [
    'toggle',
    'itemId'
  ],

  mounted () {
    // Backup origin inputs
    this.inputsOrigin = JSON.stringify(this.inputs)

    // Get data
    this.getStaticData()
  },

  computed: {
  },

  data () {
    return {
      active: false,
      loading: false,
      inputsOrigin: '',
      inputs: {
        id: 0,
        name: '',
        code: '',
        phone: '',
        email: '',
        shipping_address: '',
        note: '',
        state: 0,
        payment_status: '',
        details: [],
        amount: 0,
        created_at: ''
      },
      staticData: {
        stateOptions: [],
        paymentStatusOptions: []
      }
    }
  },

  watch: {
    toggle (newValue) {
      this.active = newValue

      if (newValue) {
        this.prepareInputs()
      }
    },

    active (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    prepareInputs () {
      // Reset inputs
      this.inputs = JSON.parse(this.inputsOrigin)

      // Get data
      if (this.itemId !== 0) {
        this.getData()
      }
    },

    getData () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/order',
        params: { 'id': this.itemId },
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.inputs['state'] += ''

          this.loading = false
        }
      })
    },

    getStaticData () {
      // Get stateOptions
      this.API.request({
        method: 'get',
        uri: '/order/states',
        success: (response) => {
          this.staticData.stateOptions = []

          Object.keys(response.data).forEach(key => {
            let index = this.staticData.stateOptions.length
            this.staticData.stateOptions[index] = {
              'text': response.data[key],
              'value': key + ''
            }
          })
        }
      })

      // Get paymentStatusOptions
      this.API.request({
        method: 'get',
        uri: '/order/paymentstatuses',
        success: (response) => {
          this.staticData.paymentStatusOptions = []

          Object.keys(response.data).forEach(key => {
            let index = this.staticData.paymentStatusOptions.length
            this.staticData.paymentStatusOptions[index] = {
              'text': response.data[key],
              'value': key
            }
          })
        }
      })
    },

    save () {
      let method = 'post'

      // Use method put to update item
      if (this.inputs.id !== 0) {
        method = 'put'
      }

      this.loading = true

      this.API.request({
        method: method,
        uri: '/order',
        data: this.inputs,
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.inputs['state'] += ''

          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.$emit('saved')
          this.loading = false
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
