<template lang="html">
  <v-dialog v-model="active" persistent width="70%" scrollable>
    <v-card>
      <v-card-title class="headline">
        <template v-if="itemId === 0 && inputs.id === 0">{{ TRANSLATE['ADD'] }}</template>
        <template v-else>{{ TRANSLATE['EDIT'] }}</template>
      </v-card-title>

      <v-card-text style="height: 70vh">
        <v-text-field
          :label="TRANSLATE['TITLE']"
          v-model="inputs.title"
        >
        </v-text-field>

        <v-text-field
          :label="TRANSLATE['PATH']"
          v-model="inputs.slug"
          :disabled="inputs.is_home"
        >
        </v-text-field>

        <v-switch
          :label="TRANSLATE['SHOW_BANNER']"
          v-model="inputs.metadata['showbanner']"
          :true-value="1"
          :false-value="0"
        >
        </v-switch>

        <cc-imagecard
          label="Banner"
          v-model="inputs.banner"
          v-show="inputs.metadata['showbanner']"
        >
        </cc-imagecard>
        <br />

        <!-- Page type -->
        <v-card>
          <v-card-text>
            <v-select
              :label="TRANSLATE['PAGE_EDIT.LAYOUT']"
              :items="staticData.pageTypeOptions"
              v-model="inputs.type"
            >
            </v-select>

            <!-- Type products -->
            <TypeProducts v-if="inputs.type === 'products'" v-model="inputs.params"></TypeProducts>

            <!-- Type article -->
            <TypeArticle v-if="inputs.type === 'article'" v-model="inputs.params"></TypeArticle>

            <!-- Type contact -->
            <TypeContact v-if="inputs.type === 'contact'" v-model="inputs.params"></TypeContact>
          </v-card-text>
        </v-card>


        <v-text-field
          :label="TRANSLATE['DESCRIPTION']"
          v-model="inputs.metadata['description']"
          textarea
        >
        </v-text-field>

        <v-text-field
          :label="TRANSLATE['KEYWORDS']"
          v-model="inputs.metadata['keywords']"
          textarea
        >
        </v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="success" flat @click="save">{{ TRANSLATE['SAVE'] }}</v-btn>
        <v-btn flat @click="active = false">{{ TRANSLATE['CLOSE'] }}</v-btn>
      </v-card-actions>
      <cc-cardloading :loading="loading"></cc-cardloading>
    </v-card>
  </v-dialog>
</template>

<script>
import TypeProducts from './TypeProducts'
import TypeArticle from './TypeArticle'
import TypeContact from './TypeContact'

export default {
  name: 'EditDialog',

  components: {
    TypeProducts,
    TypeArticle,
    TypeContact
  },

  model: {
    prop: 'toggle',
    event: 'change'
  },

  props: [
    'toggle',
    'itemId'
  ],

  mounted () {
    // Backup origin inputs
    this.inputsOrigin = JSON.stringify(this.inputs)

    // Get staticData
    this.getStaticData()
  },

  computed: {
  },

  data () {
    return {
      active: false,
      loading: false,
      inputsOrigin: '',
      inputs: {
        id: 0,
        title: '',
        slug: '',
        type: '',
        banner: '',
        metadata: {
          'keywords': '',
          'description': '',
          'showbanner': false
        },
        params: {},
        is_home: false
      },
      staticData: {
        pageTypeOptions: []
      }
    }
  },

  watch: {
    toggle (newValue) {
      this.active = newValue

      if (newValue) {
        this.prepareInputs()
      }
    },

    active (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    prepareInputs () {
      // Reset inputs
      this.inputs = JSON.parse(this.inputsOrigin)

      // Get data
      if (this.itemId !== 0) {
        this.getData()
      }
    },

    getData () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/page',
        params: { 'id': this.itemId },
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.loading = false
        }
      })
    },

    getStaticData () {
      this.API.request({
        method: 'get',
        uri: '/page/types',
        success: (response) => {
          this.staticData.pageTypeOptions = []

          Object.keys(response.data).forEach(key => {
            let index = this.staticData.pageTypeOptions.length
            this.staticData.pageTypeOptions[index] = {
              'text': response.data[key],
              'value': key + ''
            }
          })
        }
      })
    },

    save () {
      if (!this.validate()) {
        return
      }

      let method = 'post'

      // Use method put to update item
      if (this.inputs.id !== 0) {
        method = 'put'
      }

      this.loading = true

      this.API.request({
        method: method,
        uri: '/page',
        data: this.inputs,
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.$emit('saved')
          this.loading = false
        }
      })
    },

    validate () {
      if (this.inputs.title.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập tiêu đề!', context: 'error' })
        return false
      }

      if (this.inputs.slug.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập path!', context: 'error' })
        return false
      }

      if (this.inputs.slug === '/' && this.inputs.is_home === false) {
        this.EVENTBUS.$emit('alert', { message: 'Path không hợp lệ!', context: 'error' })
        return false
      }

      if (this.inputs.type.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa chọn layout!', context: 'error' })
        return false
      }

      return true
    }
  }
}
</script>

<style lang="css">
</style>
