<template lang="html">
  <div>
    <div class="subheading">
      {{ TRANSLATE['CONTENT'] }}
    </div>
    <cc-editor v-model="vars.content"></cc-editor>
  </div>
</template>

<script>
export default {
  name: 'TypeArticle',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.vars = this.value
  },

  computed: {
  },

  data () {
    return {
      vars: {
        'content': ''
      }
    }
  },

  watch: {
    value (newValue) {
      this.vars = newValue
    },

    vars (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
  }
}
</script>

<style lang="css">
</style>
