<template lang="html">
  <div>
    <v-switch
      :label="TRANSLATE['PAGE_EDIT.SHOW_FEATURED_ONLY']"
      v-model="vars.is_featured"
      :true-value="'1'" :false-value="'0'"
      >
    </v-switch>

    <v-select
      :label="TRANSLATE['PAGE_EDIT.PRODUCT_ORDER']"
      :items="orderOptions"
      v-model="masks.order"
    >
    </v-select>

    <v-text-field
      :label="TRANSLATE['PAGE_EDIT.PRODUCTS_LIMIT']"
      v-model="vars.limit"
    >
    </v-text-field>

    <v-text-field
      :label="TRANSLATE['PAGE_EDIT.PRODUCTS_CAPTION']"
      v-model="vars.caption"
    >
    </v-text-field>
  </div>
</template>

<script>
export default {
  name: 'TypeProducts',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.vars = this.value

    // Check order mask
    this.checkOrderMask()
  },

  computed: {
    orderOptions () {
      return [
        { text: this.TRANSLATE['PAGE_EDIT.PRODUCT_ORDER_NEWEST'], value: 'newest' },
        { text: this.TRANSLATE['PAGE_EDIT.PRODUCT_ORDER_RANDOM'], value: 'random' }
      ]
    }
  },

  data () {
    return {
      vars: {
        'is_featured': '0',
        'order': 'id',
        'direction': 'desc',
        'limit': '15',
        'caption': ''
      },
      masks: {
        'order': ''
      }
    }
  },

  watch: {
    value (newValue) {
      this.vars = newValue

      if (this.vars.order === 'id' && this.vars.direction === 'desc') {
        this.masks.order = 'newest'
      }

      if (this.vars.order === 'random') {
        this.masks.order = 'random'
      }
    },

    vars (newValue) {
      this.$emit('input', newValue)
    },

    'masks.order' (newValue) {
      switch (newValue) {
        case 'random':
          this.vars.order = 'random'
          this.vars.direction = ''
          break

        case 'newest':
        default:
          this.vars.order = 'id'
          this.vars.direction = 'desc'
          break
      }
    }
  },

  methods: {
    checkOrderMask () {
      if (this.vars.order === 'id' && this.vars.direction === 'desc') {
        this.masks.order = 'newest'
      }

      if (this.vars.order === 'random') {
        this.masks.order = 'random'
      }
    }
  }
}
</script>

<style lang="css">
</style>
