<template lang="html">
  <v-dialog v-model="active" persistent width="70%" scrollable>
    <v-card>
      <v-card-title class="headline">
        <template v-if="itemId === 0">{{ TRANSLATE['ADD'] }}</template>
        <template v-else>{{ TRANSLATE['EDIT'] }}</template>
      </v-card-title>

      <v-card-text style="height: 70vh">
        <v-text-field
          :label="TRANSLATE['NAME']"
          v-model="inputs.name"
        >
        </v-text-field>

        <v-text-field
          :label="TRANSLATE['PATH']"
          v-model="inputs.slug"
          :hint="TRANSLATE['PATH_HINT']" persistent-hint
        >
        </v-text-field>
        <br />

        <v-text-field
          :label="TRANSLATE['REF_NUMBER']"
          v-model="inputs.ref_number"
        >
        </v-text-field>
        <br />

        <v-text-field
          :label="TRANSLATE['PRICE']"
          v-model="inputs.price"
          type="number"
        >
        </v-text-field>
        <br />

        <v-select
          :label="TRANSLATE['CATEGORY']"
          :items="categoryOptions"
          v-model="inputs.category_id"
        >
        </v-select>

        <v-select
          :label="TRANSLATE['BRAND']"
          :items="brandOptions"
          v-model="inputs.brand_id"
        >
        </v-select>

        <v-switch :label="TRANSLATE['FEATURED']" v-model="inputs.is_featured" :true-value="1" :false-value="0"></v-switch>

        <cc-gallerycard :label="TRANSLATE['IMAGES']" description="Kích thước đề nghị: 400x400" v-model="inputs.images"></cc-gallerycard>
        <br />

        <v-text-field
          :label="TRANSLATE['CAPTION']"
          v-model="inputs.descriptions.caption"
        >
        </v-text-field>
        <br />

        <div class="subheading">
          {{ TRANSLATE['PRODUCTS.INCLUDE'] }}
        </div>
        <cc-editor v-model="inputs.descriptions.include"></cc-editor>
        <br />

        <div class="subheading">
          {{ TRANSLATE['SHORT_DESCRIPTION'] }}
        </div>
        <cc-editor v-model="inputs.descriptions.short"></cc-editor>
        <br />

        <div class="subheading">
          {{ TRANSLATE['FULL_DESCRIPTION'] }}
        </div>
        <cc-editor v-model="inputs.descriptions.full"></cc-editor>
        <br />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="success" flat @click="save">{{ TRANSLATE['SAVE'] }}</v-btn>
        <v-btn flat @click="active = false">{{ TRANSLATE['CLOSE'] }}</v-btn>
      </v-card-actions>
      <cc-cardloading :loading="loading"></cc-cardloading>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'EditDialog',

  model: {
    prop: 'toggle',
    event: 'change'
  },

  props: [
    'toggle',
    'itemId'
  ],

  mounted () {
    // Backup origin inputs
    this.inputsOrigin = JSON.stringify(this.inputs)

    // Get data
    this.getStaticData()
  },

  computed: {
    categoryOptions () {
      let items = []
      let itemsbyParentId = {}

      this.staticData.categories.forEach(item => {
        if (itemsbyParentId[item.parent_id] === undefined) {
          itemsbyParentId[item.parent_id] = []
        }

        if (item.parent_id === 0 && itemsbyParentId[item.id] === undefined) {
          itemsbyParentId[item.id] = []
        }

        itemsbyParentId[item.parent_id].push(item)
      })

      itemsbyParentId[0].forEach(item => {
        items.push({ text: item.name, value: item.id })

        itemsbyParentId[item.id].forEach(child => {
          items.push({ text: '- ' + child.name, value: child.id })
        })
      })

      return items
    },

    brandOptions () {
      let items = []

      this.staticData.brands.forEach(item => {
        items.push({ text: item.name, value: item.id })
      })

      return items
    }
  },

  data () {
    return {
      active: false,
      loading: false,
      inputsOrigin: '',
      inputs: {
        id: 0,
        name: '',
        slug: '',
        ref_number: '',
        price: 0,
        descriptions: {
          'caption': '',
          'short': '',
          'full': '',
          'include': ''
        },
        images: [],
        category_id: '',
        brand_id: '',
        is_featured: 0
      },
      staticData: {
        categories: [],
        brands: []
      }
    }
  },

  watch: {
    toggle (newValue) {
      this.active = newValue

      if (newValue) {
        this.prepareInputs()
      }
    },

    active (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    prepareInputs () {
      // Reset inputs
      this.inputs = JSON.parse(this.inputsOrigin)

      // Get data
      if (this.itemId !== 0) {
        this.getData()
      }
    },

    getData () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/product',
        params: { 'id': this.itemId },
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.loading = false
        }
      })
    },

    getStaticData () {
      // Categories
      this.API.request({
        method: 'get',
        uri: '/productcategory/search',
        params: {
          'conditions': {}
        },
        success: (response) => {
          this.staticData.categories = response.data
        }
      })

      // Brands
      this.API.request({
        method: 'get',
        uri: '/productbrand/search',
        params: {
          'conditions': {}
        },
        success: (response) => {
          this.staticData.brands = response.data
        }
      })
    },

    save () {
      if (!this.validate()) {
        return
      }

      let method = 'post'

      // Use method put to update item
      if (this.inputs.id !== 0) {
        method = 'put'
      }

      this.loading = true

      this.API.request({
        method: method,
        uri: '/product',
        data: this.inputs,
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.$emit('saved')
          this.loading = false
        }
      })
    },

    validate () {
      if (this.inputs.name.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập Tên!', context: 'error' })
        return false
      }

      if (this.inputs.slug.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập Path!', context: 'error' })
        return false
      }

      if ([0, null, ''].indexOf(this.inputs.category_id) !== -1) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa chọn loại sản phẩm!', context: 'error' })
        return false
      }

      return true
    }
  }
}
</script>

<style lang="css">
</style>
