<template lang="html">
  <v-dialog v-model="active" persistent width="70%" scrollable>
    <v-card>
      <v-card-title class="headline">
        <template v-if="itemId === 0">{{ TRANSLATE['ADD'] }}</template>
        <template v-else>{{ TRANSLATE['EDIT'] }}</template>
      </v-card-title>

      <v-card-text style="height: 70vh">
        <v-text-field
          :label="TRANSLATE['NAME']"
          v-model="inputs.name"
          disabled
        >
        </v-text-field>

        <!-- Type category_shortcuts -->
        <TypeCategoryShortcuts v-if="inputs.type === 'category_shortcuts'" v-model="inputs.data"></TypeCategoryShortcuts>

        <!-- Type slides -->
        <TypeSlides v-if="inputs.type === 'slides'" v-model="inputs.data"></TypeSlides>

        <!-- Type footer -->
        <TypeFooter v-if="inputs.type === 'footer'" v-model="inputs.data"></TypeFooter>

        <!-- Type contact -->
        <TypeContact v-if="inputs.type === 'contact'" v-model="inputs.data"></TypeContact>

        <!-- Type brands -->
        <TypeBrands v-if="inputs.type === 'brands'" v-model="inputs.data"></TypeBrands>

        <!-- Type waranty_policy -->
        <TypeWarantyPolicy v-if="inputs.type === 'waranty_policy'" v-model="inputs.data"></TypeWarantyPolicy>

        <!-- Type product_general_note -->
        <TypeProductGeneralNote v-if="inputs.type == 'product_general_note'" v-model="inputs.data"></TypeProductGeneralNote>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="success" flat @click="save">{{ TRANSLATE['SAVE'] }}</v-btn>
        <v-btn flat @click="active = false">{{ TRANSLATE['CLOSE'] }}</v-btn>
      </v-card-actions>
      <cc-cardloading :loading="loading"></cc-cardloading>
    </v-card>
  </v-dialog>
</template>

<script>
import TypeCategoryShortcuts from './TypeCategoryShortcuts'
import TypeSlides from './TypeSlides'
import TypeFooter from './TypeFooter'
import TypeContact from './TypeContact'
import TypeBrands from './TypeBrands'
import TypeWarantyPolicy from './TypeWarantyPolicy'
import TypeProductGeneralNote from './TypeProductGeneralNote'

export default {
  name: 'EditDialog',

  components: {
    TypeCategoryShortcuts,
    TypeSlides,
    TypeFooter,
    TypeContact,
    TypeBrands,
    TypeWarantyPolicy,
    TypeProductGeneralNote
  },

  model: {
    prop: 'toggle',
    event: 'change'
  },

  props: [
    'toggle',
    'itemId'
  ],

  mounted () {
    // Backup origin inputs
    this.inputsOrigin = JSON.stringify(this.inputs)
  },

  computed: {
  },

  data () {
    return {
      active: false,
      loading: false,
      inputsOrigin: '',
      inputs: {
        id: 0,
        name: '',
        type: '',
        data: null
      },
      staticData: {
        moduleTypes: []
      }
    }
  },

  watch: {
    toggle (newValue) {
      this.active = newValue

      if (newValue) {
        this.prepareInputs()
      }
    },

    active (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    prepareInputs () {
      // Reset inputs
      this.inputs = JSON.parse(this.inputsOrigin)

      // Get data
      if (this.itemId !== 0) {
        this.getData()
      }
    },

    getData () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/module',
        params: { 'id': this.itemId },
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.loading = false
        }
      })
    },

    save () {
      if (!this.validate()) {
        return
      }

      let method = 'post'

      // Use method put to update item
      if (this.inputs.id !== 0) {
        method = 'put'
      }

      this.loading = true

      this.API.request({
        method: method,
        uri: '/module',
        data: this.inputs,
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.$emit('saved')
          this.loading = false
        }
      })
    },

    validate () {
      if (this.inputs.name.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập Tên!', context: 'error' })
        return false
      }

      return true
    }
  }
}
</script>

<style lang="css">
</style>
