<template lang="html">
  <v-card>
    <v-card-title primary-title>
      <div class="headline">
        Items
      </div>
      <v-btn icon flat @click="add"><v-icon success>add</v-icon></v-btn>
    </v-card-title>
    <v-card-text>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex v-for="(item, i) in items" :key="i" sm12>
            <v-card color="grey lighten-2">
              <v-card-text>
                <v-text-field
                  :label="TRANSLATE['TITLE']"
                  v-model="item.title"
                >
                </v-text-field>

                <v-select
                  :label="TRANSLATE['CATEGORY']"
                  :items="categoryOptions"
                  v-model="item.category_id"
                >
                </v-select>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat icon @click="remove(i)"><v-icon>delete</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-btn icon flat @click="add"><v-icon success>add</v-icon></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'TypeCategoryShortcuts',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.items = this.value

    // Get static data
    this.getStaticData()
  },

  computed: {
    categoryOptions () {
      let items = []
      let itemsbyParentId = {}

      this.staticData.categories.forEach(item => {
        if (itemsbyParentId[item.parent_id] === undefined) {
          itemsbyParentId[item.parent_id] = []
        }

        if (item.parent_id === 0 && itemsbyParentId[item.id] === undefined) {
          itemsbyParentId[item.id] = []
        }

        itemsbyParentId[item.parent_id].push(item)
      })

      if (itemsbyParentId[0] === undefined) {
        return items
      }

      itemsbyParentId[0].forEach(item => {
        items.push({ text: item.name, value: item.id })

        itemsbyParentId[item.id].forEach(child => {
          items.push({ text: '- ' + child.name, value: child.id })
        })
      })

      return items
    }
  },

  data () {
    return {
      items: [],
      staticData: {
        'categories': []
      }
    }
  },

  watch: {
    value (newValue) {
      this.items = newValue
    },

    items (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
    getStaticData () {
      // Categories
      this.API.request({
        method: 'get',
        uri: '/productcategory/search',
        params: {
          'conditions': {}
        },
        success: (response) => {
          this.staticData.categories = response.data
        }
      })
    },

    add () {
      this.items.push({
        'title': '',
        'category_id': 0
      })
    },

    remove (index) {
      this.items.splice(index, 1)
    }
  }
}
</script>

<style lang="css">
</style>
