<template lang="html">
  <div>
    <v-text-field
      :label="TRANSLATE['TITLE']"
      v-model="vars.title"
    >
    </v-text-field>

    <div class="subheading">
      {{ TRANSLATE['CAPTION'] }}
    </div>
    <cc-editor v-model="vars.text"></cc-editor>
    <br />

    <cc-imagecard label="Background" v-model="vars.background" description="Kích thước đề nghị 1366x693"></cc-imagecard>
  </div>
</template>

<script>
export default {
  name: 'TypeFooter',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.vars = this.value
  },

  computed: {
  },

  data () {
    return {
      vars: {
        'title': '',
        'text': '',
        'background': ''
      }
    }
  },

  watch: {
    value (newValue) {
      this.vars = newValue
    },

    vars (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
  }
}
</script>

<style lang="css">
</style>
