<template lang="html">
  <div>
    <v-text-field
      :label="TRANSLATE['TITLE']"
      v-model="vars.title"
    >
    </v-text-field>

    <v-select
      :label="TRANSLATE['BRAND']"
      :items="brandOptions"
      multiple chips
      v-model="vars.ids"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'TypeBrands',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.vars = this.value

    // Get staticData
    this.getStaticData()
  },

  computed: {
    brandOptions () {
      let items = []

      this.staticData.brands.forEach(item => {
        items.push({ text: item.name, value: item.id })
      })

      return items
    }
  },

  data () {
    return {
      vars: {
        'title': '',
        'ids': []
      },
      staticData: {
        'brands': []
      }
    }
  },

  watch: {
    value (newValue) {
      this.vars = newValue
    },

    vars (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
    getStaticData () {
      // Brands
      this.API.request({
        method: 'get',
        uri: '/productbrand/search',
        params: {
          'conditions': {}
        },
        success: (response) => {
          this.staticData.brands = response.data
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
