<template lang="html">
  <v-card>
    <v-card-title primary-title>
      <div class="headline">
        Items
      </div>
      <v-btn icon flat @click="add"><v-icon success>add</v-icon></v-btn>
      <div class="grey--text">
        Kích thước đề nghị 1366x693
      </div>
    </v-card-title>
    <v-card-text>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex v-for="(item, i) in items" :key="i" sm12>
            <v-card color="grey lighten-2">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs6>
                    <v-card-media :src="asset(item.src)" height="100%">
                      <v-btn flat icon @click="pickImage(i)"><v-icon>fa-upload</v-icon></v-btn>
                    </v-card-media>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      :label="TRANSLATE['TITLE']"
                      v-model="item.title"
                    >
                    </v-text-field>

                    <div class="subheading">
                      {{ TRANSLATE['CAPTION'] }}
                    </div>
                    <cc-editor v-model="item.text"></cc-editor>
                  </v-flex>
                </v-layout>
              </v-container>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat icon @click="remove(i)"><v-icon>delete</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-btn icon flat @click="add"><v-icon success>add</v-icon></v-btn>
    </v-card-actions>

    <input type="file" class="hidden" ref="fileInput" accept="image/*" @change="upload" />
  </v-card>
</template>

<script>
export default {
  name: 'TypeSlides',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.items = this.value
  },

  computed: {
  },

  data () {
    return {
      items: [],
      uploadingIndex: 0
    }
  },

  watch: {
    value (newValue) {
      this.items = newValue
    },

    items (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
    add () {
      this.items.push({
        'title': '',
        'src': '',
        'text': ''
      })
    },

    pickImage (index) {
      this.uploadingIndex = index
      this.$refs.fileInput.click()
    },

    upload () {
      let targetFile = event.target.files[0]
      this.$refs.fileInput.value = null

      this.API.request({
        method: 'post',
        uri: '/media/image',
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        transformRequest: [(data, headers) => {
          data = new FormData()
          data.append('file', targetFile)

          return data
        }],
        success: (response) => {
          this.items[this.uploadingIndex]['src'] = response.data
        }
      })
    },

    remove (index) {
      this.items.splice(index, 1)
    }
  }
}
</script>

<style lang="css">
</style>
