<template lang="html">
  <div>
    <v-text-field
      :label="TRANSLATE['TITLE']"
      v-model="vars.title"
    >
    </v-text-field>

    <v-text-field
      label="Hotline"
      v-model="vars.hotline"
    >
    </v-text-field>

    <v-card>
      <v-card-title primary-title>
        <div class="headline">
          Items
        </div>
        <v-btn icon flat @click="addItem"><v-icon success>add</v-icon></v-btn>
      </v-card-title>
      <v-card-text>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex v-for="(item, i) in vars.items" :key="i" sm12>
              <v-card color="grey lighten-2">
                <v-card-text>
                  <v-text-field
                    :label="TRANSLATE['TITLE']"
                    v-model="item.title"
                  >
                  </v-text-field>

                  <v-text-field
                    :label="TRANSLATE['CONTENT']"
                    v-model="item.text"
                  >
                  </v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat icon @click="removeItem(i)"><v-icon>delete</v-icon></v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn icon flat @click="addItem"><v-icon success>add</v-icon></v-btn>
      </v-card-actions>
    </v-card>
    <br />

    <cc-gallerycard label="Payment logo" v-model="vars.paymentmethodimages"></cc-gallerycard>
  </div>
</template>

<script>
export default {
  name: 'TypeContact',

  props: [
    'value'
  ],

  model: {
    prop: 'value',
    event: 'input'
  },

  mounted () {
    // Bind data
    this.vars = this.value
  },

  computed: {
  },

  data () {
    return {
      vars: {
        'title': '',
        'hotline': '',
        'items': [],
        'paymentmethodimages': []
      }
    }
  },

  watch: {
    value (newValue) {
      this.vars = newValue
    },

    vars (newValue) {
      this.$emit('input', newValue)
    }
  },

  methods: {
    addItem () {
      this.vars.items.push({
        'title': '',
        'text': ''
      })
    },

    removeItem (index) {
      this.vars.items.splice(index, 1)
    }
  }
}
</script>

<style lang="css">
</style>
