<template lang="html">
  <div class="">
    <!-- Page heading -->
    <cc-heading :title="TRANSLATE['SETTINGS.HEADING_TITLE']"></cc-heading>

    <!-- Buttons -->
    <v-layout row wrap>
      <v-flex xs3>
        <v-text-field
          v-model="inputs.search"
          :placeholder="TRANSLATE['SEARCH']"
          prepend-icon="search"
          :append-icon="inputs.search !== '' ? 'clear' : ''"
          :append-icon-cb="() => inputs.search = ''"
          >
        </v-text-field>
      </v-flex>
      <v-flex xs9 class="text-xs-right">
        <!-- <v-btn fab small color="success" @click="add"><v-icon>add</v-icon></v-btn> -->
      </v-flex>
    </v-layout>

    <!-- Items -->
    <v-list two-line>
      <template v-for="(item, i) in filteredItems">
        <v-list-tile avatar :key="item.id" @click="">
          <v-list-tile-avatar>
            <v-icon>fa-cog</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content @click="edit(item.id)">
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            <v-list-tile-sub-title>{{ item.data }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
      </template>
    </v-list>

    <!-- Edit dialog -->
    <EditDialog v-model="editDialog" :item-id="targetItemId" @saved="getItems"></EditDialog>
  </div>
</template>

<script>
import EditDialog from './EditDialog'
import CommonHelper from '@/helpers/Common'

export default {
  name: 'SettingsLayout',

  components: {
    EditDialog
  },

  mounted () {
    this.getItems()
  },

  computed: {
    filteredItems () {
      let items = []

      this.items.forEach(item => {
        // Filter search
        if (this.inputs.search !== '' &&
          !CommonHelper.searchString(this.inputs.search, item.name) &&
          !CommonHelper.searchString(this.inputs.search, item.data)) {
          return
        }

        items.push(item)
      })

      return items
    }
  },

  data () {
    return {
      inputs: {
        'search': ''
      },
      items: [],
      targetItemId: 0,
      editDialog: false,
      staticData: {
        categories: []
      }
    }
  },

  methods: {
    getItems () {
      this.API.request({
        method: 'get',
        uri: '/setting/search',
        params: {
          'conditions': this.inputs
        },
        success: (response) => {
          this.items = response.data
        }
      })
    },

    edit (itemId) {
      this.targetItemId = itemId
      this.editDialog = true
    }
  }
}
</script>

<style lang="css">
</style>
