<template lang="html">
  <v-dialog v-model="active" persistent width="70%" scrollable>
    <v-card>
      <v-card-title class="headline">
        <template v-if="itemId === 0">{{ TRANSLATE['ADD'] }}</template>
        <template v-else>{{ TRANSLATE['EDIT'] }}</template>
      </v-card-title>

      <v-card-text style="height: 70vh">
        <v-text-field
          :label="TRANSLATE['NAME']"
          v-model="inputs.name"
        >
        </v-text-field>

        <v-text-field
          :label="TRANSLATE['PATH']"
          v-model="inputs.slug"
          :hint="TRANSLATE['PATH_HINT']" persistent-hint
        >
        </v-text-field>
        <br />

        <v-select
          :label="TRANSLATE['PRODUCT_CATEGORIES.PARENT']"
          :items="staticData.parentOptions"
          v-model="inputs.parent_id"
        >
        </v-select>

        <div class="subheading">
          {{ TRANSLATE['DESCRIPTION'] }}
        </div>
        <cc-editor v-model="inputs.description"></cc-editor>
        <br />

        <v-text-field
          :label="TRANSLATE['KEYWORDS']"
          v-model="inputs.settings['keywords']"
          textarea
        >
        </v-text-field>

        <v-switch
          :label="TRANSLATE['SHOW_BANNER']"
          v-model="inputs.settings['showbanner']"
          :true-value="1"
          :false-value="0"
        >
        </v-switch>

        <cc-imagecard
          v-show="inputs.settings['showbanner']"
          label="Banner"
          description="Kích thước đề nghị: 1366x693"
          v-model="inputs.images.banner"
        >
        </cc-imagecard>
        <br />

        <cc-imagecard label="Thumbnail" description="Kích thước đề nghị: 377x254" v-model="inputs.images.thumbnail"></cc-imagecard>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="success" flat @click="save">{{ TRANSLATE['SAVE'] }}</v-btn>
        <v-btn flat @click="active = false">{{ TRANSLATE['CLOSE'] }}</v-btn>
      </v-card-actions>
      <cc-cardloading :loading="loading"></cc-cardloading>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'EditDialog',

  model: {
    prop: 'toggle',
    event: 'change'
  },

  props: [
    'toggle',
    'itemId'
  ],

  mounted () {
    // Backup origin inputs
    this.inputsOrigin = JSON.stringify(this.inputs)

    // Get data
    this.getStaticData()
  },

  computed: {
  },

  data () {
    return {
      active: false,
      loading: false,
      inputsOrigin: '',
      inputs: {
        id: 0,
        name: '',
        slug: '',
        parent_id: 0,
        description: '',
        images: {
          'thumbnail': '',
          'banner': ''
        },
        settings: {
          'heading': '',
          'keywords': '',
          'showbanner': false
        }
      },
      staticData: {
        parentOptions: []
      }
    }
  },

  watch: {
    toggle (newValue) {
      this.active = newValue

      if (newValue) {
        this.prepareInputs()
      }
    },

    active (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    prepareInputs () {
      // Reset inputs
      this.inputs = JSON.parse(this.inputsOrigin)

      // Get data
      if (this.itemId !== 0) {
        this.getData()
      }
    },

    getData () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/productcategory',
        params: { 'id': this.itemId },
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.loading = false
        }
      })
    },

    getStaticData () {
      this.API.request({
        method: 'get',
        uri: '/productcategory/search',
        params: {
          'conditions': { 'parent_id': 0 }
        },
        success: (response) => {
          this.staticData.parentOptions = [{ value: 0, text: 'ROOT' }]

          response.data.forEach(item => {
            this.staticData.parentOptions.push({
              value: item.id,
              text: '- ' + item.name
            })
          })
        }
      })
    },

    save () {
      if (!this.validate()) {
        return
      }

      let method = 'post'

      // Use method put to update item
      if (this.inputs.id !== 0) {
        method = 'put'
      }

      this.loading = true

      this.API.request({
        method: method,
        uri: '/productcategory',
        data: this.inputs,
        success: (response) => {
          Object.keys(this.inputs).forEach(key => {
            this.inputs[key] = response.data[key]
          })

          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.$emit('saved')
          this.loading = false
        }
      })
    },

    validate () {
      if (this.inputs.name.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập Tên!', context: 'error' })
        return false
      }

      if (this.inputs.slug.length === 0) {
        this.EVENTBUS.$emit('alert', { message: 'Chưa nhập Path!', context: 'error' })
        return false
      }

      return true
    }
  }
}
</script>

<style lang="css">
</style>
