<template lang="html">
  <div class="">
    <!-- Page heading -->
    <cc-heading :title="TRANSLATE['PRODUCT_CATEGORIES.HEADING_TITLE']"></cc-heading>

    <!-- Buttons -->
    <v-layout row wrap>
      <v-flex xs3>
        <v-text-field
          v-model="inputs.search"
          :placeholder="TRANSLATE['SEARCH']"
          prepend-icon="search"
          :append-icon="inputs.search !== '' ? 'clear' : ''"
          :append-icon-cb="() => inputs.search = ''"
          >
        </v-text-field>
      </v-flex>
      <v-flex xs9 class="text-xs-right">
        <v-btn fab small color="success" @click="add"><v-icon>add</v-icon></v-btn>
      </v-flex>
    </v-layout>

    <!-- Items -->
    <v-list two-line>
      <template v-for="(item, i) in filteredItems">
        <v-list-tile avatar :key="item.id" @click="">
          <v-list-tile-avatar>
            <img :src="asset(item.images.banner)" />
          </v-list-tile-avatar>
          <v-list-tile-content @click="edit(item.id)">
            <v-list-tile-title v-html="item.name"></v-list-tile-title>
            <v-list-tile-sub-title v-if="item.parent_id">{{ TRANSLATE['PRODUCT_CATEGORIES.PARENT'] + ': ' + itemsById[item.parent_id].name }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon ripple @click="trash(item.id)">
              <v-icon class="grey--text text--lighten-1">delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider></v-divider>
      </template>
    </v-list>

    <!-- Edit dialog -->
    <EditDialog v-model="editDialog" :item-id="targetItemId" @saved="getItems"></EditDialog>
  </div>
</template>

<script>
import EditDialog from './EditDialog'
import CommonHelper from '@/helpers/Common'

export default {
  name: 'ProductCategoriesLayout',

  components: {
    EditDialog
  },

  mounted () {
    this.getItems()
  },

  computed: {
    itemsById () {
      let items = {}

      this.items.forEach(item => {
        items[item.id] = item
      })

      return items
    },

    filteredItems () {
      let items = []

      this.items.forEach(item => {
        // Filter search
        if (this.inputs.search !== '' &&
          !CommonHelper.searchString(this.inputs.search, item.name) &&
          !CommonHelper.searchString(this.inputs.search, item.slug)) {
          return
        }

        items.push(item)
      })

      return items
    }
  },

  data () {
    return {
      inputs: {
        'search': ''
      },
      items: [],
      targetItemId: 0,
      editDialog: false
    }
  },

  methods: {
    getItems () {
      this.API.request({
        method: 'get',
        uri: '/productcategory/search',
        params: {
          'conditions': this.inputs
        },
        success: (response) => {
          this.items = response.data
        }
      })
    },

    add () {
      this.targetItemId = 0
      this.editDialog = true
    },

    edit (itemId) {
      this.targetItemId = itemId
      this.editDialog = true
    },

    trash (itemId) {
      this.API.request({
        method: 'delete',
        uri: '/productcategory',
        data: {
          'ids': [itemId]
        },
        success: (response) => {
          this.getItems()
          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['DELETE_SUCCESS'], context: 'success' })
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
