<template>
  <div class="card-loading text-xs-center" v-show="loading">
    <v-progress-circular indeterminate class="primary--text"></v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'cc-cardloading',
  props: [
    'loading'
  ]
}
</script>

<style lang="stylus">
.card-loading
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 20%;
  background-color: rgba(255, 255, 255, 0.5);
</style>
