<template lang="html">
  <textarea :id="id" :html="content"></textarea>
</template>

<script>
import tinymce from 'tinymce'

import 'tinymce/themes/modern/theme'

import 'tinymce/plugins/table'
import 'tinymce/plugins/fullscreen'
import 'tinymce/plugins/lists'
import 'tinymce/plugins/advlist'
import 'tinymce/plugins/link'

import 'tinymce/skins/lightgray/skin.min.css'
import 'tinymce/skins/lightgray/content.min.css'

import CommonHelper from '@/helpers/Common'

export default {
  name: 'cc-editor',

  props: {
    'value': {
      type: String,
      default: ''
    },

    'toolbar': {
      default: 'bold italic underline strikethrough removeformat | alignleft aligncenter alignright alignjustify | bullist numlist link outdent indent | table fullscreen'
    }
  },

  mounted () {
    // Init tinymce
    setTimeout(() => {
      tinymce.init({
        selector: '#' + this.id,
        min_height: 150,
        skin: false,
        menubar: false,
        toolbar: this.toolbar,
        plugins: [ 'table', 'fullscreen', 'lists', 'advlist', 'link' ],
        init_instance_callback: (editor) => {
          this.editor = editor

          editor.on('KeyUp', (e) => {
            this.content = this.editor.getContent()
          })

          editor.on('Change', (e) => {
            this.content = this.editor.getContent()
          })

          editor.on('init', (e) => {
            this.editor.setContent(this.content)
          })
        }
      })
    }, 1)

    // Bind value
    setTimeout(() => {
      if (this.content !== this.value || this.editor.getContent() !== this.value) {
        this.editor.setContent(this.value)
      }
    }, 500)
  },

  beforeDestroy () {
    this.editor.destroy()
  },

  data () {
    return {
      id: CommonHelper.generateId(),
      content: '',
      editor: null
    }
  },

  watch: {
    value (newValue) {
      if (this.content === newValue && this.editor.getContent() === newValue) {
        return
      }

      this.content = newValue

      if (this.editor === null) {
        return
      }

      this.editor.setContent(newValue)
    },

    content (newValue) {
      this.$emit('input', newValue)
    }
  }
}
</script>

<style lang="css">
</style>
