<template lang="html">
  <v-card>
    <v-card-title primary-title>
      <div class="headline">
        {{ label }}
      </div>
      <v-btn icon flat @click.native.stop="$refs.fileInput.click()"><v-icon success>add</v-icon></v-btn>
      <div class="grey--text">
        {{ description }}
      </div>
    </v-card-title>
    <v-card-text>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex v-for="(image, i) in items" :key="i" sm2>
            <v-card>
              <v-card-media :src="asset(image)" height="150px"></v-card-media>
              <v-card-actions>
                <v-btn flat icon @click="remove(i)"><v-icon>delete</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>

    <input type="file" class="hidden" ref="fileInput" accept="image/*" @change="upload" />
  </v-card>
</template>

<script>
export default {
  name: 'cc-gallerycard',

  props: [
    'label',
    'value',
    'description'
  ],

  model: {
    prop: 'value',
    event: 'change'
  },

  data () {
    return {
      items: {}
    }
  },

  watch: {
    value (newValue) {
      this.items = newValue
    },

    items (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    upload () {
      let targetFile = event.target.files[0]
      this.$refs.fileInput.value = null

      this.API.request({
        method: 'post',
        uri: '/media/image',
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        transformRequest: [(data, headers) => {
          data = new FormData()
          data.append('file', targetFile)

          return data
        }],
        success: (response) => {
          this.items.push(response.data)
        }
      })
    },

    remove (index) {
      this.items.splice(index, 1)
    }
  }
}
</script>

<style lang="css">
</style>
