<template lang="html">
  <div class="">
    <v-layout row class="py-2 mx-0 view-heading">
      <v-flex xs3 class="pl-0">
        <div class="headline">{{ title }}</div>
      </v-flex>
    </v-layout>
    <v-divider class="mb-2"></v-divider>
  </div>
</template>

<script>
export default {
  name: 'Heading',

  props: [
    'title'
  ]
}
</script>

<style lang="css">
</style>
