<template lang="html">
  <v-card>
    <v-card-media v-if="['', null].indexOf(path) === -1" :src="asset(path)" height="250px"></v-card-media>
    <v-card-title primary-title>
      <div>
        <div class="headline">
          {{ label }}
        </div>
        <div class="grey--text">
          {{ description }}
        </div>
      </div>
    </v-card-title>
    <v-card-actions>
      <v-btn flat icon @click="$refs.fileInput.click()">
        <v-icon>file_upload</v-icon>
      </v-btn>
    </v-card-actions>

    <input type="file" class="hidden" ref="fileInput" accept="image/*" @change="upload" />
  </v-card>
</template>

<script>
export default {
  name: 'cc-imagecard',

  props: [
    'label',
    'value',
    'description'
  ],

  model: {
    prop: 'value',
    event: 'change'
  },

  data () {
    return {
      path: ''
    }
  },

  watch: {
    value (newValue) {
      this.path = newValue
    },

    path (newValue) {
      this.$emit('change', newValue)
    }
  },

  methods: {
    upload () {
      let targetFile = event.target.files[0]
      this.$refs.fileInput.value = null

      this.API.request({
        method: 'post',
        uri: '/media/image',
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        transformRequest: [(data, headers) => {
          data = new FormData()
          data.append('file', targetFile)

          return data
        }],
        success: (response) => {
          this.path = response.data
        }
      })
    }
  }
}
</script>

<style lang="css">
</style>
