<template>
  <div>
    <!-- Sidebar -->
    <sidebar></sidebar>

    <!-- Toolbar -->
    <toolbar></toolbar>

    <!-- Main body -->
    <v-content>
      <v-container fluid>
        <transition name="slide-x-transition" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>

    <!-- Footer -->
    <v-footer app fixed>
      <span><strong>Copyright &copy; {{year}} Wanderman Team.</strong> All rights reserved.</span>
    </v-footer>
  </div>
</template>

<script>
import Sidebar from './Sidebar'
import Toolbar from './Toolbar'
import { EventBus } from '@/eventbus'

export default {
  name: 'MainLayout',

  components: {
    'sidebar': Sidebar,
    'toolbar': Toolbar
  },

  mounted () {
    // Trigger lighttheme
    EventBus.$emit('lighttheme')
  },

  computed: {
    year () {
      return new Date().getFullYear()
    }
  },

  data () {
    return {}
  }
}
</script>

<style></style>
