<template>
  <v-navigation-drawer
    v-model="drawer"
    dark
    fixed
    clipped
    app
    :mini-variant="miniVariant"
    @mouseover.native="miniVariant = false"
    @mouseout.native="miniVariant = true"
    >
    <v-list dense>
      <template v-for="item in items">
        <v-list-tile :to="item.path">
          <v-list-tile-action>
            <v-icon dark>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'Sidebar',

  computed: {
    items () {
      return [
        // { title: this.TRANSLATE['SIDEBAR.DASHBOARD'], path: '/dashboard', icon: 'fa-bar-chart' },
        { title: this.TRANSLATE['SIDEBAR.PAGES'], path: '/pages', icon: 'fa-bars' },
        { title: this.TRANSLATE['SIDEBAR.PRODUCT_CATEGORIES'], path: '/productcategories', icon: 'fa-folder' },
        { title: this.TRANSLATE['SIDEBAR.PRODUCT_BRANDS'], path: '/productbrands', icon: 'fa-tags' },
        { title: this.TRANSLATE['SIDEBAR.PRODUCTS'], path: '/products', icon: 'fa-cubes' },
        { title: this.TRANSLATE['SIDEBAR.ORDERS'], path: '/orders', icon: 'fa-shopping-cart' },
        // { title: this.TRANSLATE['SIDEBAR.MENUTITLE_MEDIA'], path: '/media', icon: 'fa-picture-o' },
        { title: this.TRANSLATE['SIDEBAR.MODULES'], path: '/modules', icon: 'fa-puzzle-piece' },
        { title: this.TRANSLATE['SIDEBAR.SETTINGS'], path: '/settings', icon: 'fa-cogs' }
      ]
    }
  },

  data () {
    return {
      drawer: true,
      miniVariant: true
    }
  }
}
</script>

<style></style>
