<template lang="html">
  <v-toolbar class="primary" dark fixed clipped-left app>
    <v-toolbar-title>Admin panel</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-menu offset-y left>
      <v-btn flat dark slot="activator" style="height: 64px">
        <v-avatar>
          <v-icon>fa-user-circle</v-icon>
        </v-avatar>
        <div style="width: 15px;"></div>
        <span>
          {{ user.name }}
        </span>
      </v-btn>

      <v-list>
        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>fa-sign-out</v-icon>
          </v-list-tile-action>
          <v-list-tile-sub-title>
            {{ TRANSLATE['LOGOUT'] }}
          </v-list-tile-sub-title>
        </v-list-tile>

        <v-list-tile @click="changePassword">
          <v-list-tile-action>
            <v-icon>fa-unlock-alt</v-icon>
          </v-list-tile-action>
          <v-list-tile-sub-title>
            {{ TRANSLATE['TOOLBAR.USER_MENU_CHANGE_PASSWORD'] }}
          </v-list-tile-sub-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <!-- change password dialog -->
    <v-dialog v-model="changePasswordDialog" persistent width="20%">
      <v-card>
        <v-card-title class="headline">{{ TRANSLATE['TOOLBAR.NEW_PASSWORD'] }}</v-card-title>
        <v-card-text>
          <v-text-field type="password" v-model="changePasswordValue"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" flat @click="changePasswordSave" :disabled="changePasswordValue.length < 4">{{ TRANSLATE['SAVE'] }}</v-btn>
          <v-btn flat @click="changePasswordDialog = false">{{ TRANSLATE['CANCEL'] }}</v-btn>
        </v-card-actions>
        <cc-cardloading :loading="loading"></cc-cardloading>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Toolbar',

  computed: {
    ...mapState([
      'user'
    ])
  },

  data () {
    return {
      changePasswordDialog: false,
      changePasswordValue: '',
      loading: false
    }
  },

  methods: {
    changePassword () {
      this.changePasswordValue = ''
      this.changePasswordDialog = true
    },

    changePasswordSave () {
      this.loading = true

      this.API.request({
        method: 'post',
        uri: '/user/changepassword',
        data: {
          'value': this.changePasswordValue
        },
        success: (response) => {
          this.EVENTBUS.$emit('alert', { message: this.TRANSLATE['SAVE_SUCCESS'], context: 'success' })
          this.changePasswordDialog = false
          this.loading = false
        }
      })
    }
  }
}
</script>

<style lang="stylus">
</style>
