<template>
  <div id="app">
    <v-app :dark="dark">
      <router-view></router-view>

      <!-- Primary alert -->
      <v-snackbar
        v-model="alert.show" top
        :timeout="alert.timeout"
        :color="alert.context"
        >
        {{ alert.message }}
        <v-btn fab small flat dark @click="alert.show = false">
          <v-icon dark>close</v-icon>
        </v-btn>
      </v-snackbar>

      <!-- Token is out alert -->
      <v-snackbar v-model="tokenIsOut" :timeout="0" error top>
        {{ TRANSLATE['APP.ALERT_TOKENISOUT'] }}
        <v-btn flat dark @click="logout">OK</v-btn>
      </v-snackbar>
      <div v-if="tokenIsOut" id="blocked"></div>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'App',

  computed: {
  },

  mounted () {
    // Event darktheme
    this.EVENTBUS.$on('darktheme', () => {
      this.dark = true
    })

    // Event lighttheme
    this.EVENTBUS.$on('lighttheme', () => {
      this.dark = false
    })

    // Event tokenisout
    this.EVENTBUS.$on('tokenisout', () => {
      this.tokenIsOut = true
    })

    // Event alert
    this.EVENTBUS.$on('alert', (args) => {
      this.alert.message = args.message
      this.alert.context = args.context

      if (typeof args.timeout !== 'undefined') {
        this.alert.timeout = args.timeout
      } else {
        this.alert.timeout = 4000
      }

      this.alert.show = true
    })
  },

  data () {
    return {
      dark: true,
      alert: {
        show: false,
        timeout: 4000,
        context: 'secondary',
        message: ''
      },
      tokenIsOut: false
    }
  },

  methods: {}
}
</script>

<style lang="stylus">
  @import './stylus/main'
  #blocked
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 5;
</style>
