<template>
  <main>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex sm6 offset-sm3>
            <v-flex lg6 offset-lg3 sm10 offset-sm1>
              <v-card class="elevation-0" light>
                <v-card-text>
                  <v-container fluid>
                    <h1 class="text-xs-center">Admin Panel</h1>
                    <br />
                    <form @submit.prevent="submit">
                      <v-layout row wrap>
                        <v-text-field light
                          :label="translate['LOGIN.EMAIL']" v-model="inputs.email"
                          prepend-icon="perm_identity">
                        </v-text-field>
                      </v-layout>
                      <v-layout row>
                        <v-text-field light
                          :label="translate['LOGIN.PASSWORD']" v-model="inputs.password"
                          prepend-icon="lock_outline"
                          type="password">
                        </v-text-field>
                      </v-layout>
                      <v-layout row>
                        <v-btn type="submit" color="primary" block>{{ translate['LOGIN.BTN_SUBMIT'] }}</v-btn>
                      </v-layout>
                    </form>
                  </v-container>
                </v-card-text>
                <cc-cardloading :loading="loading"></cc-cardloading>
              </v-card>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
</template>

<script>
import { mapState } from 'vuex'
import config from '@/config'

export default {
  name: 'LoginPage',

  computed: {
    ...mapState([
      'translate'
    ])
  },

  mounted () {
    // Bind default redirect
    if (typeof this.$route.query.redirect === 'string') {
      this.redirect = this.$route.query.redirect
    } else {
      this.redirect = config.defaultRoute
    }

    // Check exist token
    let token = window.localStorage.getItem('token')

    if (token !== null) {
      this.$store.commit('SET_TOKEN', token)
      this.getMyUserInfo()
    }
  },

  data () {
    return {
      inputs: {
        email: '',
        password: ''
      },
      redirect: '/',
      loading: false
    }
  },

  methods: {
    /**
     * Submit check login
     * @return {void}
     */
    submit () {
      if (this.inputs.email === '' || this.inputs.password === '') {
        this.EVENTBUS.$emit('alert', { message: 'Vui lòng nhập email và mật khẩu!', context: 'error' })
        return
      }

      this.loading = true

      // Get token
      this.API.getToken({
        username: this.inputs.email,
        password: this.inputs.password
      }).then(response => {
        if (typeof response.data.access_token !== 'undefined') {
          // Store token
          this.$store.commit('SET_TOKEN', response.data.access_token)

          // Get my user info
          this.getMyUserInfo()
        }
      }).catch((error, response) => {
        this.loading = false

        if (error.response.status === 401) {
          this.EVENTBUS.$emit('alert', { message: 'Sai email hoặc mật khẩu!', context: 'error' })
        }
      })
    },

    /**
     * Get my user info
     * @return {void}
     */
    getMyUserInfo () {
      this.loading = true

      this.API.request({
        method: 'get',
        uri: '/user/myinfo',
        success: (response) => {
          // Store user info
          this.$store.commit('SET_USER', response.data)

          // Redirect
          this.$router.push(this.redirect)
        },
        error: () => {
          this.loading = false
          this.$store.commit('SET_TOKEN', null)
        }
      })
    }
  }
}
</script>

<style></style>
